* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


}

.container {
  height: 100vh;
  max-width: 47rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(149deg,
      rgb(37, 45, 46) 0%,
      rgb(231, 183, 120) 100%);

}

.slider {
  width: 57%;


  margin: 0 auto;
  overflow: hidden;
  position: relative;

}

.images {
  display: flex;
  width: 100%;
}

.images img {
  width: 100%;
  height: auto;
  transition: all 1.1s ease;
}

.slider input {
  display: none;
}

.controls {
  display: flex;
  justify-content: flex-end;
  margin: 0.1rem;

}

.controls label {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  border: solid burlywood 3px;
  cursor: pointer;
  
  margin: 0.3rem;
  
}



.controls label:hover {
  background: rgb(247, 244, 244);
}

.image-1,
.text1 {
  transform: translateX(-100%);

}

.image-2,
.text2 {
  transform: translateX(0);
}

.image-3,
.text3 {
  transform: translateX(200%);

}

.image-4,
.text4 {
  transform: translateX(300%);
}


#image1:checked ~ .images .image-1,
#image1:checked ~ .text-controls .text1
 {
  transform: translateX(0);
}

 
#image2:checked ~ .images .image-2,
#image2:checked ~ .text-controls .text2 {
  transform: translateX(-100%);

}


#image3:checked~ .images .image-3,
#image3:checked~ .text-controls .text3 {
  transform: translateX(-200%);

}

#image4:checked ~ .images .image-4,
#image4:checked ~ .text-controls .text4 {
  transform: translateX(-300%);

}


.text-controls {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.text {
  
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
}

.text1,
.text2,
.text3,
.text4 {
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  display: inline-block;
  white-space: normal;
  font-size: 0.9rem;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(240, 235, 235);
  transition: all 1.1s ease-out;
}

@media (max-width: 480px) {

}